@model BlogPost
@{
    ViewBag.Icon = "fas fa-newspaper-o";
    ViewBag.Title = "Cập nhật bài viết";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2><i class="fa @ViewBag.Icon"></i> @ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a asp-action="Index" asp-controller="Home">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a asp-action="Index">
                        <i class="fa fa-newspaper-o"></i>   Bài viết
                    </a>
                </li>
                <li>
                    <span>Thêm bài viết</span>
                </li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-sm-4">
            <a asp-action="Index" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Quay lại</a>

        </div>
    </div>
    <form asp-action="Update" method="post" autocomplete="off">
        <div class="modal-body">
            <partial name="_PartialForm" />
        </div>
        <br />
        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;"><img src="~/img/wait.gif" alt="waiting..." />Saving...</span>
            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Lưu lại</button>
            <a asp-action="Index" class="btn btn-warning"><i class="fa fa-undo"></i> Hủy bỏ</a>
        </div>
    </form>
</section>

@section Scripts {
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/select2.min_VN.js"></script>
    <script>
        $(document).ready(function () {
            $("#PostCats").select2({
                language: "vi",
                theme: "bootstrap",
                allowClear: true,
                placeholder: "== Phân loại Tin tức =="
            });
            $("#ExtLink").change(function () {
                var video_url = $(this).val();
                if (video_url) {
                    var youtube_id = video_url.match(/^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/).pop();
                    if (youtube_id.length === 11) {
                        $("#ExtLink").val("https://www.youtube.com/embed/" + youtube_id);
                        var youtube_img = "//img.youtube.com/vi/" + youtube_id + "/0.jpg";
                        $("#Image").val(youtube_img);
                        $("#avatar").attr("src", youtube_img);
                    }
                }
            });
        });
    </script>
}
