@{
    ViewData["Title"] = "About";
}
<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-md mt-none">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
                    <h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Giới thiệu</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-sm">
            <div class="col-md-3">
                <aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

                    <ul class="nav nav-list mb-xl show-bg-active">
                        <li><a data-hash data-hash-offset="110" href="#who-we-are">Về chúng tôi</a></li>
                        <li><a data-hash data-hash-offset="110" href="#history">Lịch sử</a></li>
                        <li><a data-hash data-hash-offset="110" href="#mission-vision">Sứ mệnh &amp; Tầm nhìn</a></li>
                        <li><a data-hash data-hash-offset="110" href="#partners">Đối tác</a></li>
                    </ul>

                </aside>
            </div>
            <div class="col-md-9">

                <section id="who-we-are" class="mb-xlg">
                    <div class="nivo-slider mt-md pb-xl">
                        <div class="slider-wrapper theme-default">
                            <div id="nivoSlider" class="nivoSlider mt-none mb-xlg">
                                <img src="~/img/demos/construction/slides/slide-construction-small-1.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-1.jpg" alt="" />
                                <img src="~/img/demos/construction/slides/slide-construction-small-2.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-2.jpg" alt="" />
                                <img src="~/img/demos/construction/slides/slide-construction-small-3.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-3.jpg" alt="" />
                                <img src="~/img/demos/construction/slides/slide-construction-small-4.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-4.jpg" alt="" />
                            </div>
                            <div id="htmlcaption" class="nivo-html-caption"></div>
                        </div>
                    </div>

                    <h2 class="mb-none text-color-dark">Về chúng tôi</h2>
                    <p class="lead mb-xl mt-lg">
                        Chúng tôi là đơn vị đi đầu trong lĩnh vực cung cấp dịch vụ cho thuê đội nhân công bốc xếp hàng hóa nhiều kinh nghiệm tại tphcm, được đào tạo bài bản, cùng sự hỗ trợ đắc lực của hệ thống máy móc hiện đại cung ứng cho nhiều doanh nghiệp tại tphcm và các khu vực lân cận.
                    </p>

                    <p class="lead mb-xl mt-lg">
                        Quý công ty cần lực lượng nhân công bốc xếp có sức khỏe, có kinh nghiệm và nhiệt tình trong công việc để vận chuyển, bốc xếp, tháo gở số lượng hàng hóa lớn chứa trong kho.
                    </p>
                </section>

                <hr class="solid tall">

                <section id="history" class="mb-xlg">
                    <h2 class="mb-none text-color-dark">Lịch sử</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left img-responsive mr-lg mb-md mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0" width="200" src="~/img/office/office-1.jpg" alt="">
                            <p class="mt-lg">
                                Chúng tôi là một trong những đơn vị hoạt động trong ngành bốc xếp trên 10 năm kinh nghiệm tại tphcm, là nhà cung cấp dịch vụ thường xuyên cho các công ty sản xuất với số lượng bốc xếp hàng trăm nghìn tấn hàng hóa mỗi năm. Chúng tôi có đội ngũ tư vấn giải pháp theo qui trình khoa học để hàng hóa vận chuyển lên xuống được đảm bảo an toàn.
                            </p>
                            <p class="mt-lg">
                                Đến với dịch vụ bốc xếp của chúng tôi, bạn chắc chắn sẽ hài lòng về đội ngũ nhân công bốc xếp chuyên nghiệp, siêng năng, cần cù. Cùng với đó là dịch vụ chăm sóc khách hàng chu đáo, giá cả hợp lý, cạnh tranh. Dịch vụ cho thuê công nhân bốc xếp hàng hóa của chúng tôi giúp doanh nghiệp của bạn tiết kiệm thời gian và chi phí trong quá trình hoạt động, vận chuyển hàng hóa sản xuất.                            
                            </p>
                        </div>

                        @*<div class="col-md-5">
                            <ul class="list list-unstyled list-primary list-borders">
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><strong class="text-color-primary font-size-xl">2017 - </strong> Moves its headquarters to a new building</li>
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="100"><strong class="text-color-primary font-size-xl">2014 - </strong> Porto creates its new brand</li>
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><strong class="text-color-primary font-size-xl">2006 - </strong> Porto opens it doors in London</li>
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><strong class="text-color-primary font-size-xl">2003 - </strong> Inauguration of the new office</li>
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400"><strong class="text-color-primary font-size-xl">2001 - </strong> Porto goes into business</li>
                            </ul>
                        </div>*@
                    </div>
                </section>

                <hr class="solid tall">

                <section id="mission-vision" class="mb-xlg">

                    <div class="row mt-xl">
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-target icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Sứ mệnh</h2>
                                    <p class="mb-lg">
                                        Với đội ngũ công nhân khỏe mạnh cần cù chịu khó và chuyên nghiệp, dịch vụ Bốc xếp Hà Nội 24h khẳng định rằng chúng tôi sẽ dành cho bạn những điều tốt nhất để bạn hài lòng về chất lượng cũng như số lượng và đảm bảo giá thành vừa phải. phục vụ bạn bất kì thời gian, không gian và hình thức bốc xếp.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-eye icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Tầm nhìn</h2>
                                    <p class="mb-lg">
                                        Ngày nay, cùng với nhu cầu sử dụng dịch vụ của người dân ngày càng tăng cao, dịch vụ bốc xếp hàng hóa đang phát triển nhanh chóng. Tuy nhiên, không phải đơn vị nào cũng được xem là chuyên nghiệp. Với kinh nghiệm làm việc nhiều năm, thực hiện bốc xếp hàng hóa ở nhiều đơn hàng, chúng tôi nhận được sự tín nhiệm của quý khách hàng gần xa vì cách làm việc nhanh chóng, chuyên nghiệp và tận tình.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <hr class="solid tall">               
                
                <section id="partners" class="mb-xlg">
                    <h2 class="mb-none text-color-dark">Đối tác</h2>

                    <div class="row mt-lg">
                        <div class="content-grid content-grid-dashed mt-xlg mb-lg">
                            <div class="row content-grid-row">
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-1.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-2.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-3.png" alt="">
                                </div>
                            </div>
                            <div class="row content-grid-row">
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-4.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-5.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>

    </div>
</div>

