@{
    ViewData["Title"] = "About";
}
<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-md mt-none">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
                    <h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Company</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-sm">
            <div class="col-md-3">
                <aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

                    <ul class="nav nav-list mb-xl show-bg-active">
                        <li><a data-hash data-hash-offset="110" href="#who-we-are">Who We Are</a></li>
                        <li><a data-hash data-hash-offset="110" href="#history">History</a></li>
                        <li><a data-hash data-hash-offset="110" href="#mission-vision">Mission &amp; Vision</a></li>
                        <li><a data-hash data-hash-offset="110" href="#leadership">Leadership</a></li>
                        <li><a data-hash data-hash-offset="110" href="#partners">Partners</a></li>
                    </ul>

                </aside>
            </div>
            <div class="col-md-9">

                <section id="who-we-are" class="mb-xlg">
                    <div class="nivo-slider mt-md pb-xl">
                        <div class="slider-wrapper theme-default">
                            <div id="nivoSlider" class="nivoSlider mt-none mb-xlg">
                                <img src="~/img/demos/construction/slides/slide-construction-small-1.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-1.jpg" alt="" />
                                <img src="~/img/demos/construction/slides/slide-construction-small-2.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-2.jpg" alt="" />
                                <img src="~/img/demos/construction/slides/slide-construction-small-3.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-3.jpg" alt="" />
                                <img src="~/img/demos/construction/slides/slide-construction-small-4.jpg" data-thumb="~/img/demos/construction/slides/slide-construction-small-4.jpg" alt="" />
                            </div>
                            <div id="htmlcaption" class="nivo-html-caption"></div>
                        </div>
                    </div>

                    <h2 class="mb-none text-color-dark">Who We Are</h2>
                    <p class="lead mb-xl mt-lg">Founded in 2001 by John Doe, gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>

                    <p>Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>
                </section>

                <hr class="solid tall">

                <section id="history" class="mb-xlg">
                    <h2 class="mb-none text-color-dark">History</h2>

                    <div class="row">
                        <div class="col-md-7">
                            <img class="pull-left img-responsive mr-lg mb-md mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0" width="200" src="~/img/office/office-1.jpg" alt="">
                            <p class="mt-lg">Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
                            <p class="mt-lg">Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
                        </div>
                        <div class="col-md-5">
                            <ul class="list list-unstyled list-primary list-borders">
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><strong class="text-color-primary font-size-xl">2017 - </strong> Moves its headquarters to a new building</li>
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="100"><strong class="text-color-primary font-size-xl">2014 - </strong> Porto creates its new brand</li>
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><strong class="text-color-primary font-size-xl">2006 - </strong> Porto opens it doors in London</li>
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><strong class="text-color-primary font-size-xl">2003 - </strong> Inauguration of the new office</li>
                                <li class="pt-sm pb-sm appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400"><strong class="text-color-primary font-size-xl">2001 - </strong> Porto goes into business</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <hr class="solid tall">

                <section id="mission-vision" class="mb-xlg">

                    <div class="row mt-xl">
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-target icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Mission</h2>
                                    <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 center">
                            <div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                <span class="featured-boxes featured-boxes-style-4 p-none m-none">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                                        <span class="box-content p-none m-none">
                                            <i class="icon-featured icon-eye icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-md text-color-dark">Vision</h2>
                                    <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla nisi elit consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <hr class="solid tall">

                <section id="leadership" class="mb-xlg">
                    <h2 class="mb-none text-color-dark">Leadership</h2>

                    <div class="row mt-xlg">

                        <div class="col-sm-6">
                            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom no-borders mb-xl">
                                <span class="thumb-info-side-image-wrapper p-none">
                                    <img src="~/img/team/team-22.jpg" class="img-responsive" alt="" style="width: 160px;">
                                </span>
                                <span class="thumb-info-caption">
                                    <span class="thumb-info-caption-text">
                                        <h5 class="text-uppercase mb-xs">John Doe - <small class="font-weight-light">Founder</small></h5>
                                        <p class="mb-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                                    </span>
                                </span>
                            </span>

                        </div>
                        <div class="col-sm-6">
                            <span class="thumb-info thumb-info-side-image thumb-info-no-zoom no-borders mb-xl">
                                <span class="thumb-info-side-image-wrapper p-none">
                                    <img src="~/img/team/team-23.jpg" class="img-responsive" alt="" style="width: 160px;">
                                </span>
                                <span class="thumb-info-caption">
                                    <span class="thumb-info-caption-text">
                                        <h5 class="text-uppercase mb-xs">Jeremy Doe - <small class="font-weight-light">President</small></h5>
                                        <p class="mb-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                                    </span>
                                </span>
                            </span>

                        </div>

                    </div>

                </section>

                <hr class="solid tall">

                <section id="partners" class="mb-xlg">
                    <h2 class="mb-none text-color-dark">Partners</h2>

                    <div class="row mt-lg">
                        <div class="content-grid content-grid-dashed mt-xlg mb-lg">
                            <div class="row content-grid-row">
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-1.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-2.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-3.png" alt="">
                                </div>
                            </div>
                            <div class="row content-grid-row">
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-4.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-5.png" alt="">
                                </div>
                                <div class="content-grid-item col-sm-4 center">
                                    <img class="img-responsive" src="~/img/logos/logo-6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>

    </div>
</div>

