@{
    ViewData["Title"] = "About";
}
<section class="page-header">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li class="active"> About us </li>
        </ul>
    </div>
</section>

<div class="container about-container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="word-rotator-title">
                Vì một tương lai nền nông nghiệp <strong>
                    <span class="word-rotate" data-plugin-options="{'delay': 2000}">
                        <span class="word-rotate-items">
                            <span>Sạch.</span>
                            <span>Chất lượng.</span>
                        </span>
                    </span>
                </strong>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <p class="lead">
                Là một đất nước đang phát triển cùng với nền nông nghiệp bền vững, Việt Nam đã và đang cho ra những thành phẩm tuyệt vời và chất lượng. đi song song với điều đó là những sản phẩm đã bị pha tạp vì lợi nhuận cá nhân mà làm mất đi chất lượng thực và ảnh hưởng đến sức khỏe của người tiêu dung.
            </p>
            <p class="lead">
                Nhưng chúng tôi, luôn đi đầu trong việc kiểm soát chất lượng và điều phối hàng hóa TiCIVi  mang đến cho bạn những chọn lựa tốt nhất về những điều bạn muốn. khi đến với chúng tôi, bạn chỉ cần vào TiCiVi.com là mọi thứ bạn muốn sẽ đến với bạn.
            </p>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("Category", "Product")" class="btn btn-primary mt-xl">Mua ngay!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="medium">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3 class="h1 heading-primary"><strong>Về</strong> Chúng Tôi</h3>
            <p>
                TiCiVi là nền tảng thương mại điện tử cho nông nghiệp sạch. Đây là một nền tảng phù hợp lợi thế của Việt Nam đất nước chúng ta, cung cấp cho khách hàng những trải nghiệm mua nông sản sạch trực tuyến dễ dàng, an toàn và nhanh chóng thông qua sự hỗ trợ mạnh mẽ trong việc thanh toán và vận chuyển từ TiCiVi.
            </p>
            <p>
                TiCiVi luôn hướng tới việc không ngừng nâng cao nền tảng và được lựa chọn để trở thành điểm đến thương mại điện tử nông nghiệp được mọi nhà biết đến. TiCiVi có nhiều loại sản phẩm khác nhau, từ các sản phẩm nông nghiệp sạch đến thành phẩm nông nghiệp làm từ các sản phẩm đó.
            </p>
            <p>
                TiCiVi, một công ty Việt Nam, ra mắt đầu tiên tại Việt Nam vào năm 2019. Sứ mệnh của TiCiVi là cải thiện cuộc sống của người tiêu dùng bằng xây dựng nguồn thực phẩm sạch kết hợp với nền tảng công nghệ để tiện dụng cho tất cả mọi người.
            </p>
        </div>
        <div class="col-md-4">
            <div class="featured-box featured-box-primary">
                <div class="box-content">
                    <h4 class="text-uppercase heading-text-color">Thành viên</h4>
                    <ul class="thumbnail-gallery" data-plugin-lightbox data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
                        <li>
                            <a title="Benefits 1" href="img/benefits/benefits-1.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../img/benefits/benefits-1-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 2" href="img/benefits/benefits-2.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../img/benefits/benefits-2-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 3" href="img/benefits/benefits-3.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../img/benefits/benefits-3-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 4" href="img/benefits/benefits-4.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../img/benefits/benefits-4-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 5" href="img/benefits/benefits-5.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../img/benefits/benefits-5-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 6" href="img/benefits/benefits-6.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../img/benefits/benefits-6-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="medium">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="h1 heading-primary mt-xl"><strong>Sứ mệnh</strong> TiCiVi</h3>
            <ul class="history">
                <li class="appear-animation" data-appear-animation="fadeInUp">
                    <div class="thumb">
                        <img src="../img/office/office-4.jpg" alt="" />
                    </div>
                    <div class="featured-box">
                        <div class="box-content">
                            <h4 class="heading-primary"><strong>1</strong></h4>
                            <p>Khách hàng của chúng tôi là người duy nhất quyết định giá trị của hàng hóa và dịch vụ của chúng tôi. Chúng tôi cố gắng đáp ứng những nhu cầu chưa được đáp ứng và những dịch vụ chưa được phục vụ.</p>
                        </div>
                    </div>
                </li>
                <li class="appear-animation" data-appear-animation="fadeInUp">
                    <div class="thumb">
                        <img src="../img/office/office-3.jpg" alt="" />
                    </div>
                    <div class="featured-box">
                        <div class="box-content">
                            <h4 class="heading-primary"><strong>2</strong></h4>
                            <p>
                                Thay đổi nhanh chóng là hằng số duy nhất trong thời đại kỹ thuật số của chúng ta. Chúng tôi chấp nhận thay đổi, tán dương và luôn luôn phấn đấu trở thành nhà lãnh đạo tư tưởng ảnh hưởng đến nó.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="appear-animation" data-appear-animation="fadeInUp">
                    <div class="thumb">
                        <img src="../img/office/office-2.jpg" alt="" />
                    </div>
                    <div class="featured-box">
                        <div class="box-content">
                            <h4 class="heading-primary"><strong>3</strong></h4>
                            <p>
                                Chúng tôi đang trong một cuộc chạy đua liên tục để thành công trong khi đang vật lộn với sự chuyển động nhanh chóng. Chúng tôi di chuyển nhanh hơn, tốt hơn và khẩn trương hơn mỗi ngày.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="appear-animation" data-appear-animation="fadeInUp">
                    <div class="thumb">
                        <img src="../img/office/office-1.jpg" alt="" />
                    </div>
                    <div class="featured-box">
                        <div class="box-content">
                            <h4 class="heading-primary"><strong>4</strong></h4>
                            <p>
                                Công việc của chúng tôi là một sự cam kết. Chúng tôi cam kết với giá trị của mình, thể chế, khách hàng và đối tác của mình. Chúng tôi cam kết với nhau. Trên hết, chúng tôi cam kết sẽ làm tốt nhất và trở thành tốt nhất có thể.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>