@{
    ViewData["Title"] = "Contact";
}
<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-md mt-none">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
                    <h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Liên hệ</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-xl mb-xl">
            <div class="col-md-7">

                <h2 class="mb-none">Gửi tin nhắn cho chúng tôi</h2>

                <p class="lead mb-xl mt-xs">
                    Liên hệ với chúng tôi hoặc gọi cho chúng tôi để nhận được sự giúp đỡ.
                </p>

                <div class="alert alert-success hidden mt-lg" id="contactSuccess">
                    <strong>Success!</strong> Your message has been sent to us.
                </div>

                <div class="alert alert-danger hidden mt-lg" id="contactError">
                    <strong>Error!</strong> There was an error sending your message.
                    <span class="font-size-xs mt-sm display-block" id="mailErrorMessage"></span>
                </div>

                <form id="contactForm" action="php/contact-form.php" method="POST">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" placeholder="Họ Tên" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control name="name" id="name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="email" placeholder="E-mail" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control name="email" id="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" placeholder="Tiêu đề" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control name="subject" id="subject" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea maxlength="5000" placeholder="Nội dung" data-msg-required="Please enter your message." rows="5" class="form-control name="message" id="message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="GỬI" class="btn btn-primary mb-xlg" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-4 col-md-offset-1">
                <h4 class="text-color-dark mb-xs pb-md">Trụ sở</h4>
                <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
                <div id="map" style="width:100%;height:250px; margin-bottom:20px; margin: 0 auto;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6505886247733!2d106.77705694986959!3d10.838028992241844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527059f1da999%3A0x650d5fb43c4ea778!2zMi8xMTcgxJDDrG5oIFBob25nIFBow7osIFTEg25nIE5oxqFuIFBow7ogQiwgUXXhuq1uIDksIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1550744724915"  width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                                <ul class="list list-icons mt-xlg mb-xlg">
                    <li><i class="icon-pin icons"></i> <strong>Địa chỉ:</strong> Số 117, Đường Đình Phong Phú, Phường Tăng Nhơn Phú B, Quận 9, TP HCM</li>
                    <li><i class="icon-call-end icons"></i> <strong>Điện thoại:</strong> 0367.99.89.79</li>
                    <li><i class="icon-envelope icons"></i> <strong>Email:</strong> <a href="mailto:Bocxepanhtu@gmail.com">Bocxepanhtu@gmail.com</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

