@{
    ViewData["Title"] = "Contact";
}
<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-md mt-none">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
                    <h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Contact</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-xl mb-xl">
            <div class="col-md-7">

                <h2 class="mb-none">Send Us a Message</h2>

                <p class="lead mb-xl mt-xs">Contact us or give us a call to discover how we can help.</p>

                <div class="alert alert-success hidden mt-lg" id="contactSuccess">
                    <strong>Success!</strong> Your message has been sent to us.
                </div>

                <div class="alert alert-danger hidden mt-lg" id="contactError">
                    <strong>Error!</strong> There was an error sending your message.
                    <span class="font-size-xs mt-sm display-block" id="mailErrorMessage"></span>
                </div>

                <form id="contactForm" action="php/contact-form.php" method="POST">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" placeholder="Your Name" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control name="name" id="name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="email" placeholder="Your E-mail" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control name="email" id="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" placeholder="Subject" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control name="subject" id="subject" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea maxlength="5000" placeholder="Message" data-msg-required="Please enter your message." rows="5" class="form-control name="message" id="message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-primary mb-xlg" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-4 col-md-offset-1">

                <h4 class="text-color-dark mb-xs pb-md">Corporate Headquarters</h4>

                <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
                <div id="googlemaps" class="google-map small"></div>

                <ul class="list list-icons mt-xlg mb-xlg">
                    <li><i class="icon-pin icons"></i> <strong>Address:</strong> 1234 Street Name, City Name</li>
                    <li><i class="icon-call-end icons"></i> <strong>Phone:</strong> (123) 456-789</li>
                    <li><i class="icon-envelope icons"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                </ul>

            </div>
        </div>

    </div>
</div>

