@{
    ViewData["Title"] = "Home Page";
}

<div role="main" class="main">
    <div class="slider-container light rev_slider_wrapper" style="height: 700px;">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 700, 'disableProgressBar': 'on'}">
            <ul>
                <li data-transition="fade">
                    <img src="img/demos/construction/slides/slide-construction-1.jpg"
                         alt=""
                         data-bgposition="center 100%"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption top-label tp-caption-custom-stripe"
                         data-x="right" data-hoffset="100"
                         data-y="bottom" data-voffset="100"
                         data-start="1000"
                         data-transform_in="x:[100%];opacity:0;s:1000;">#1 FASTEST-GROWING COMPANY</div>
                </li>
                <li data-transition="fade">
                    <img src="img/demos/construction/slides/slide-construction-2.jpg"
                         alt=""
                         data-bgposition="center 100%"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption top-label tp-caption-custom-stripe"
                         data-x="right" data-hoffset="180"
                         data-y="bottom" data-voffset="100"
                         data-start="1000"
                         data-transform_in="x:[100%];opacity:0;s:1000;">MODERN OFFICES DESIGN</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row mt-xl mb-xl pt-xl mb-xl">
            <div class="col-md-4">
                <h2 class="mt-xl mb-none text-color-dark">Who We Are</h2>
                <p class="lead">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-md-2 center hidden-xs hidden-sm">
                <img src="img/dotted-line-angle.png" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <p class="mt-xl">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                <a class="mt-md" href="demo-construction-company.html">Learn More <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <section class="section section-tertiary section-no-border section-custom-construction">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <h2 class="mt-xl mb-none">Serivces</h2>
                    <div class="divider divider-primary divider-small divider-small-center mb-xl">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row mt-lg">
                <div class="owl-carousel owl-theme owl-team-custom show-nav-title" data-plugin-options="{'items': 4, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">
                    <div class="center mb-lg">
                        <a href="demo-law-firm-attorneys-detail.html">
                            <img src="img/team/team-22.jpg" class="img-responsive" alt="">
                        </a>
                        <h4 class="mt-md mb-none">David Doe</h4>
                        <p class="mb-none">Criminal Law</p>
                        <span class="thumb-info-social-icons mt-sm pb-none">
                            <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                            <a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                        </span>

                    </div>
                    <div class="center mb-lg">
                        <a href="demo-law-firm-attorneys-detail.html">
                            <img src="img/team/team-23.jpg" class="img-responsive" alt="">
                        </a>
                        <h4 class="mt-md mb-none">Jeff Doe</h4>
                        <p class="mb-none">Business Law</p>
                        <span class="thumb-info-social-icons mt-sm pb-none">
                            <a href="mailto:mail@example.com"><i class="fa fa-envelope"></i><span>Email</span></a>
                            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                        </span>
                    </div>
                    <div class="center mb-lg">
                        <a href="demo-law-firm-attorneys-detail.html">
                            <img src="img/team/team-24.jpg" class="img-responsive" alt="">
                        </a>
                        <h4 class="mt-md mb-none">Craig Doe</h4>
                        <p class="mb-none">Divorce Law</p>
                        <span class="thumb-info-social-icons mt-sm pb-none">
                            <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                            <a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                        </span    >
                    </div>
                    <div class="center mb-lg">
                        <a href="demo-law-firm-attorneys-detail.html">
                            <img src="img/team/team-25.jpg" class="img-responsive" alt="">
                        </a>
                        <h4 class="mt-md mb-none">Richard Doe</h4>
                        <p class="mb-none">Accident Law</p>
                        <span class="thumb-info-social-icons mt-sm pb-none">
                            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                        </span>
                    </div>
                    <div class="center mb-lg">
                        <a href="demo-law-firm-attorneys-detail.html">
                            <img src="img/team/team-29.jpg" class="img-responsive" alt="">
                        </a>
                        <h4 class="mt-md mb-none">Amanda Doe</h4>
                        <p class="mb-none">Health Law</p>
                        <span class="thumb-info-social-icons mt-sm pb-none">
                            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                        </span>
                    </div>
                    <div class="center mb-lg">
                        <a href="demo-law-firm-attorneys-detail.html">
                            <img src="img/team/team-30.jpg" class="img-responsive" alt="">
                        </a>
                        <h4 class="mt-md mb-none">Jessica Doe</h4>
                        <p class="mb-none">Capital Law</p>
                        <span class="thumb-info-social-icons mt-sm pb-none">
                            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-md pb-xl home-concept-construction">
        <div class="container">
            <div class="row pt-xl">
                <div class="col-md-12">
                    <h2 class="mb-none text-color-dark">Projects</h2>
                    <p class="lead">Lorem ipsum dolor sit amet.</p>

                    <div class="diamonds-wrapper lightbox" data-plugin-options="{'delegate': '.diamond', 'type': 'image', 'gallery': {'enabled': true}}">
                        <ul class="diamonds">
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-1.jpg" class="diamond">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-1.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-2.jpg" class="diamond">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-2.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-3.jpg" class="diamond">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-3.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-4.jpg" class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-4.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-5.jpg" class="diamond">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-5.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-6.jpg" class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-6.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="img/demos/construction/gallery/construction-gallery-7.jpg" class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="img/demos/construction/gallery/construction-gallery-7.jpg" class="img-responsive" />
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row row-diamons-description">
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                    <a class="btn btn-borders btn-primary" href="demo-construction-projects.html">View All Projects</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-background mb-xl" style="background-image: url(img/demos/construction/testimonials/testimonials-bg.jpg); background-position: 50% 100%; min-height: 540px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="owl-carousel owl-theme nav-bottom rounded-nav mt-xl pt-xl mb-xl pb-xl" data-plugin-options="{'items': 1, 'loop': false}">
                        <div>
                            <div class="col-md-12">
                                <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p><strong>Ana Smith</strong><span>Porto Magazine</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12">
                                <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p><strong>Jessica Smith</strong><span>Porto Magazine</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="pt-md section-custom-construction-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    <div class="owl-carousel owl-theme stage-margin rounded-nav" data-plugin-options="{'margin': 10, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40, 'items': 6, 'autoplay': true, 'autoplayTimeout': 3000}">
                        <div>
                            <img class="img-responsive" src="img/logos/logo-1.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-2.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-3.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-4.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-5.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-6.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-4.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/logos/logo-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center mt-xl">
                    <hr class="solid mt-none mb-xl">
                </div>
            </div>
            <div class="row pt-xl">
                <div class="col-md-12">
                    <h2 class="mb-none text-color-dark">Blog</h2>
                    <p class="lead mb-sm">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="recent-posts mt-xl">
                        <a href="demo-construction-blog-detail.html">
                            <img class="img-responsive pb-md" src="img/demos/construction/blog/blog-construction-1.jpg" alt="Blog">
                        </a>
                        <article class="post">
                            <div class="date">
                                <span class="day">15</span>
                                <span class="month">Jan</span>
                            </div>
                            <h4 class="pt-md pb-none mb-none"><a class="text-color-dark" href="demo-construction-blog-detail.html">Lorem ipsum dolor sit amet</a></h4>
                            <p>By admin</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                            <a class="mt-md" href="demo-construction-blog-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </article>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="recent-posts mt-xl">
                        <a href="demo-construction-blog-detail.html">
                            <img class="img-responsive pb-md" src="img/demos/construction/blog/blog-construction-2.jpg" alt="Blog">
                        </a>
                        <article class="post">
                            <div class="date">
                                <span class="day">15</span>
                                <span class="month">Jan</span>
                            </div>
                            <h4 class="pt-md pb-none mb-none"><a class="text-color-dark" href="demo-construction-blog-detail.html">Lorem ipsum dolor sit amet</a></h4>
                            <p>By admin</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                            <a class="mt-md" href="demo-construction-blog-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </article>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="recent-posts mt-xl">
                        <a href="demo-construction-blog-detail.html">
                            <img class="img-responsive pb-md" src="img/demos/construction/blog/blog-construction-3.jpg" alt="Blog">
                        </a>
                        <article class="post">
                            <div class="date">
                                <span class="day">15</span>
                                <span class="month">Jan</span>
                            </div>
                            <h4 class="pt-md pb-none mb-none"><a class="text-color-dark" href="demo-construction-blog-detail.html">Lorem ipsum dolor sit amet</a></h4>
                            <p>By admin</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.</p>
                            <a class="mt-md" href="demo-construction-blog-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
