<div class="container">

    <h1 class="mainbox-title">
        <span><span>SHIP HÀNG </span></span>
    </h1>


    <div class="mainbox-body">
        <div class="ty-wysiwyg-content view-page_content">

            <div>
                <h4 style="text-align: center;"><span style="color: #ff0000;"></span></h4>

                <h2 style="text-align: center;"><span style="color:#FF8C00;"><strong>KHÁCH HÀNG KHU VỰC HCM</strong></span></h2>

                <p>&nbsp;</p>

                <p><strong>– Th</strong><strong>ờ</strong><strong>i gian làm vi</strong><strong>ệc</strong><strong>:</strong>&nbsp;TiCiVi giao hàng khu vực nội thành HCM, vì nhờ công ty giao hàng giao, nên chỉ giao hàng từ Thứ 2 – Thứ 7, &nbsp;Chủ Nhật nghỉ. Giao hàng xong mới nhận tiền ạ. Ship 15k, đặt hôm nay, giao ngày mai. Còn giao gấp thì tùy khu vực sẽ căn cứ theo giá Grab và Ahamove ạ</p>

                <p>–<strong>&nbsp;</strong><strong>Mua trự</strong><strong>c ti</strong><strong>ế</strong><strong>p:</strong>&nbsp;các bạn có thể đến tận nhà TiCiVi mua tại <strong>34 Đường số 4, Phường 11, Quận Gò Vấp, TP Hồ Chí Minh  0355 655 065 / 0343 216 024</strong></p>

                <p>–&nbsp;<strong>Phí ship tậ</strong><strong>n nhà:&nbsp;</strong>Phí ship nội thành là 15k. Đặt hàng hôm nay, giao hàng ngày hôm sau. Trường hợp giao gấp hoặc hẹn giờ thì LÊ sẽ nhờ Grab giao cho các bạn, phí Ship cụ thể tùy theo khu vực ạ.</p>

                <p>– Khách hàng đặt 3kg trở lên, TiCiVi sẽ free ship ạ . Các bạn ở ngoại thành, mua trên 3kg ship 15k</p>

                <p>– Khách hàng ở các quận 9, 12, Bình Tân, Thủ Đức,. Vì lý do xa quá, TiCiVi xin phép thu ship cao hơn nhé. Là 30k/lượt. Đặt hàng hôm nay, giao hôm sau ạ. Hóc Môn, Bình Chánh,Nhà Bè, Củ Chi ship 35-40k ạ.</p>

                <p><strong>– Các b</strong><strong>ạ</strong><strong>n cứ kiểm tra hàng thật kĩ lưỡng khi giao đến,</strong><strong>&nbsp;n</strong><strong>ế</strong><strong>u hàng kém ch</strong><strong>ấ</strong><strong>t l</strong><strong>ượ</strong><strong>ng nh</strong><strong>ư</strong><strong> m</strong><strong>ố</strong><strong>c, </strong><strong>ẩ</strong><strong>m, hôi d</strong><strong>ầ</strong><strong>u, TiCiVi s</strong><strong>ẵ</strong><strong>n sàng c</strong><strong>ử</strong><strong> nhân viên t</strong><strong>ớ</strong><strong>i t</strong><strong>ậ</strong><strong>n nhà các b</strong><strong>ạ</strong><strong>n thu h</strong><strong>ồ</strong><strong>i l</strong><strong>ạ</strong><strong>i, hoàn ti</strong><strong>ề</strong><strong>n, ho</strong><strong>ặ</strong><strong>c đ</strong><strong>ổ</strong><strong>i tr</strong><strong>ả</strong><strong> mà không thu thêm b</strong><strong>ấ</strong><strong>t kì kho</strong><strong>ả</strong><strong>n phí nào </strong><strong>ạ</strong><strong>. </strong>( Nhưng TiCiVi nghĩ sẽ ít có khả năng đó, vì bên TiCiVi luôn rang hàng mới, bán tới đâu, rang tới đó ạ )</p>
                
            </div>


        </div>





    </div>
</div>