@{
    ViewData["Title"] = "CHÍNH SÁCH BẢO HÀNH & ĐỔI TRẢ";
}
<div class="container">
    <div class="ty-wysiwyg-content view-page_content">
        <h2>@ViewData["Title"]</h2>
        
        <div>
            <h3>&nbsp;</h3>

            <h2 style="text-align: center;"><span style="color:#FF8C00;"><span style="font-size:22px;"><strong>QUYỀN LỢI CỦA CÁC BẠN KHI MUA HÀNG TẠI TICIVI</strong></span></span></h2>

            <p>&nbsp;</p>

            <p>-Các bạn được ăn thử hàng khi giao đến, nếu thấy không đạt chất lượng cứ từ chối nhận hàng không mất gì ạ.</p>

            <p>-Khi mua về rồi,&nbsp; ăn thử 50gr đầu, phát hiện mốc ẩm, hôi dầu,hoặc&nbsp; phát hiện&nbsp;&nbsp;sâu vượt quá mức cam kết 3% mà TiCiVi cam kết, các bạn được đổi trả vô điều kiện mà sẽ không mất một phí nào ạ ( trường hợp các bạn ăn trên 50gr mà muốn đổi trả vì những lý do kém chất lượng, TiCiVi vẫn đổi trả cho các bạn, ăn hết bao nhiêu tính bấy nhiêu thôi ạ). Vì TiCiVi tin vào sản phẩm của TiCiVi bán chất lượng, nên khâu đổi trả TiCiVi vẫn thành tâm KHÔNG tính toán thiệt hơn. <strong>Bán hàng cho các bạn rồi TiCiVi vẫn phải có trách nhiệm đằng sau đó, chứ không phải bán xong là “cao bay xa chạy đâu ạ”</strong></p>

            <p>-Các bạn được quyền đổi trả hàng kém chất lượng trong vòng 15 ngày ạ, nên các bạn <strong>cứ kiểm tra thoải mái hàng</strong>, TiCiVi hoàn toàn đồng ý ạ. Vì các bạn càng kiểm tra kỹ khi nhận hàng thì đó là may mắn của TiCiVi. Nên TiCiVi hi vọng các bạn cứ kiểm tra kĩ vào nhé.</p>

            <p>-TiCiVi giao hàng tới mà bị bể nát do sự cố giao hàng, TiCiVi cũng xin nhận trách nhiệm này ạ</p>

            <p>-Hàng mất mát trên đường giao , đặc biệt đi tỉnh, TiCiVi cũng xin chịu trách nhiệm ạ.</p>

            <p>&nbsp;</p>

            <p style="text-align: center;"><strong><span style="font-size:22px;"></span></strong></p>

            <h2 style="text-align: center;"><span style="color:#FF8C00;"><strong><span style="font-size:22px;">TỪ CHỐI ĐỔI TRẢ DÀNH CHO NHỮNG LÝ DO SAU ĐÂY:</span></strong></span></h2>

            <p>&nbsp;</p>

            <p><strong>-Thuộc về khẩu vị:</strong>&nbsp;TiCiVi bán theo khẩu vị chung là KHÔNG&nbsp;rang mặn, mà VỪA VỊ, HƠI NHẠT&nbsp;để trẻ con, người già, người ốm đều có thể ăn được. Nên các bạn đổi trả vì lý do nhạt quá, hoặc mặn quá thì TiCiVi xin từ chối đổi trả nha, vì khẩu vị mỗi người mỗi khác, nên không ai giống ai cả, TiCiVi chỉ rang theo khẩu vị chung thôi. (&nbsp;thật tế&nbsp; ngoài đời thì các anh chị mua xong bảo ăn không hợp khẩu vị xin đổi trả thì TiCiVi vẫn chấp nhận, phí ship các bạn chịu ạ)</p>

            <p>-Hàng mua đã quá 15 ngày&nbsp; TiCiVi từ chối đổi trả ( thật tế thì tính TiCiVi hay mềm lòng, thỉnh thoảng vẫn chấp nhận đổi trả, chỉ là ship các anh chị chịu thôi )</p>

            <p><strong>-Bảo quản sai cách.</strong>&nbsp;Vì thỉnh thoảng có khách hàng TiCiVi dặn bỏ tủ lạnh với hàng tươi nhưng các bạn để nhiệt độ thường nó bị hỏng. Nên trường hợp này TiCiVi sẽ không nhận đổi trả ạ. Còn hàng rang khui ra để nhiệt độ thường sẽ dễ bị yểu, đặc biệt miền Bắc độ ẩm rất cao càng mau yểu, TiCiVi cũng từ chối đổi trả nếu các bạn đã khui ra và bảo quản sai cách ạ ( bỏ vào tủ lạnh để duy trì độ giòn)</p>

            <p><strong>-Mua tại đại lý:</strong>&nbsp;Đại lý khác chi nhánh là người ta không độc quyền phân phối hạt của TiCiVi mà còn bán nhiều thứ khác, và bán các thương hiệu khác. Nếu các bạn mua tại Đại Lý thì liên hệ đại lý bảo hành nhé. Nếu mua hàng tại <a href="http://hatdieu.org/chi-nhanh/">chi nhánh</a> trực tiếp của TiCiVi thì TiCiVi luôn cam kết đổi trả, vì hàng luôn luôn mới. Nhưng đại lý thì vấn đề hàng mới hay không tùy thuộc vào sức bán của họ. Nên các bạn liên hệ họ để được bảo hành nhé.</p>

            <p style="text-align: right;"><em><font color="#ff8c00"><b>Yêu các bạn !&nbsp;</b></font><font color="#ff8c00"><b>TiCiVi&nbsp;</b></font></em></p>
        </div>


    </div>
</div>