@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div role="main" class="main">
    <section class="form-section">
        <div class="container">
            <h1 class="h2 heading-primary font-weight-normal mb-md mt-xlg">@ViewBag.Title</h1>

            <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                <div class="box-content">
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-content">
                                    <h3 class="heading-text-color font-weight-normal">Intruction</h3>
                                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                                </div>
                               
                            </div>
                            <div class="col-sm-6">
                                <h3 class="heading-text-color font-weight-normal">@ViewBag.Title</h3>
                                    <p>If you have forgot your password, please enter your email to get forget password link.</p>
                                    <div class="form-group">
                                        <label class="font-weight-normal">Email  <span class="required">*</span></label>
                                        <input type="email" asp-for="Email" class="form-control" required>
                                    </div>
                                    
                                    <p class="required">* Bắt buộc</p>
                                <div class="form-action clearfix">
                                    <input type="submit" class="btn btn-primary" value="Reset password">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>