@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="container about-container" style="text-align:center">
    <div class="row">
        <div class="col-md-12">
            <h2 class="word-rotator-title">
                Forgot Password <strong>
                    <span class="word-rotate" data-plugin-options="{'delay': 2000}">
                        <span class="word-rotate-items">
                            <span>Confirmation.</span>
                        </span>
                    </span>
                </strong>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Please check your email to reset your password.
            </p>
        </div>
        <div class="col-md-12">
            <a href="https://mail.google.com/" class="btn btn-primary mt-xl">Go to Gmail!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="medium">
        </div>
    </div>
</div>