@{
    ViewBag.Title = "Register Confirmation";
}
<div class="container about-container" style="text-align:center">
    <div class="row">
        <div class="col-md-12" >
            <h2 class="word-rotator-title" >
                Đăng ký <strong>
                    <span class="word-rotate" data-plugin-options="{'delay': 2000}">
                        <span class="word-rotate-items">
                            <span>Thành công.</span>
                            <span>Hoàn thành.</span>
                        </span>
                    </span>
                </strong>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Hãy kiểm tra email của bạn để kích hoạt tài khoản.
            </p>
        </div>
        <div class="col-md-12">
            <a href="https://mail.google.com/" class="btn btn-primary mt-xl">Đi đến Gmail!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="medium">
        </div>
    </div>
</div>