@model ResetPasswordViewModel
@{
    ViewBag.Title = "Khôi phục mật khẩu";
}
<div role="main" class="main">
    <section class="form-section register-form">
        <div class="container">
            <h1 class="h2 heading-primary font-weight-normal mb-md mt-xlg">@ViewBag.Title</h1>
            <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                <div class="box-content">

                    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
                        <h4 class="heading-primary text-uppercase mb-lg">THÔNG TIN KHÔI PHỤC</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <p class="required mt-lg mb-none">* Bắt buộc</p>
                                <div class="form-action clearfix mt-none">
                                    <input type="submit" class="btn btn-primary" value="Khôi phục">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}