@{
    ViewBag.Title = "Xác thực khôi phục mật khẩu";
}
<div class="container about-container" style="text-align:center">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Mật khẩu của bạn đã được khôi phục. Hãy <a asp-controller="Account" asp-action="Login"> ấn vào đây </a> để đăng nhập.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="medium">
        </div>
    </div>
</div>