@using TCVWeb.Areas.Admin.Models
@model UpdateOrderItemModel

@{
    Layout = null;
}
<div class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label asp-for="ItemName" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="ItemName" class="form-control" min="1" , readonly="" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CurrentPrice" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="CurrentPrice" class="form-control" , readonly=""  />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="Quantity" class="form-control" />
        </div>
    </div>
    @*<div class="form-group">
        <label asp-for="SubTotal" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="SubTotal" class="form-control" , readonly="" />
        </div>
    </div>*@
</div>