@model ShopOrder
    <h4 class="mainbox-title"> Tạm tính  : <span>@Convert.ToDecimal(Model.AdjustPrice).ToString("#,# VNĐ")</span></h4>
    @if (Model.ShippingFee > 0)
    {
        <h4 class="mainbox-title"> Phí ship  : <span>@Convert.ToDecimal(Model.ShippingFee).ToString("#,# VNĐ")</span></h4>
    }
    else
    {
        <h4 class="mainbox-title"> Phí ship  : <span>0 VNĐ</span></h4>

    }
    <h4 class="mainbox-title"> Tổng cộng : <span>@Convert.ToDecimal(Model.GrandTotalPrice).ToString("#,# VNĐ")</span></h4>
