@model ForgotPasswordViewModel
<div class="modal fade shop-fpass-modal" tabindex="-1" role="dialog" aria-labelledby="myRecoverModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <h4 class="modal-title" id="myRecoverModal">Khôi phục mật khẩu</h4>
                </div>
                <div class="modal-body">
                    <p> Hãy nhập email phía dưới. Bạn sẽ nhận được link qua mail để khôi phục mật khẩu.</p>
                    <div class="form-group">
                        <label class="mb-xs">Email  <span class="required">*</span></label>
                        <input type="email" asp-for="Email" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link pull-left" data-toggle="modal" data-target=".shop-login-modal" data-dismiss="modal"><i class="fa fa-angle-double-left mr-xs"></i>Quay lại đăng nhập </a>
                    <input type="submit" class="btn btn-primary" value="Recover">
                </div>
            </form>
        </div>
    </div>
</div>