@model LoginViewModel
@{
    ViewBag.ReturnUrl = "/Checkout";
}

<div class="modal fade shop-login-modal" tabindex="-1" role="dialog" aria-labelledby="myLoginModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <h4 class="modal-title" id="myLoginModal"> Đăng nhập</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="mb-xs">Email  <span class="required">*</span></label>
                        <input type="email" asp-for="Email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="mb-xs">Mật khẩu <span class="required">*</span></label>
                        <input type="password" asp-for="Password" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link pull-left" data-toggle="modal" data-target=".shop-fpass-modal" data-dismiss="modal">Quên mật khẩu?</a>
                    <input type="submit" class="btn btn-primary" value="Đăng nhập">
                </div>
            </form>
        </div>
    </div>
</div>