@model ShopOrder
<div class="container about-container" style="text-align:center">
    <div class="row">
        <div class="col-md-12">
            <h2 class="word-rotator-title">
                Đặt hàng thành công.
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Cám ơn bạn đã tin tưởng đặt hàng. Chúng tôi sẽ liên hệ với bạn sau.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="medium">
        </div>
    </div>
</div>