<div class="product-essential edit-content" style="padding:30px" id="qv-content">
    <div class="row">
        <div class="product-details-box col-sm-12" style="text-align:center">
            <h1 class="product-detail-info">
                1 Sản phẩm mới đã được thêm vào giỏ hàng của bạn
            </h1>

            @*<div class="product-detail-info">
                <div class="product-price-box">
                    <span class="old-price"> 123123 </span>
                    <span class="product-price">123123</span>
                </div>
            </div>*@

            <div class="product-actions">
                <a href="@Url.Action("Index", "Cart")" class="addtocart" title="Thêm vào giỏ">
                    <i class="fa fa-shopping-cart"></i>
                    <span>ĐẾN GIỎ HÀNG</span>
                </a>
                <a href="@Url.Action("Index", "Checkout")" class="addtocart" title="Thêm vào giỏ">
                    <i class="fa fa-shopping-cart"></i>
                    <span>MUA NGAY</span>
                </a>
            </div>
            <div class="product-share-box">
                <div class="addthis_inline_share_toolbox"></div>
            </div>
        </div>
    </div>
</div>