@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="demo-construction.html">
                    <img alt="Porto" class="img-responsive logo" width="110" src="~/img/demos/construction/logo-construction-small.png">
                </a>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 mb-sm">
                        <h4>Danh mục</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list list-footer-nav">
                            <li>
                                <a href="demo-construction.html">
                                    Trang chủ
                                </a>
                            </li>
                            <li>
                                <a href="demo-construction-company.html">
                                    Giới thiệu
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list list-footer-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="demo-construction-services.html">
                                    Dịch vụ
                                </a>
                            </li>
                            <li>
                                <a href="demo-construction-blog.html">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>Newsletter</h4>

                <div class="newsletter">

                    <div class="alert alert-success hidden" id="newsletterSuccess">
                        <strong>Success!</strong> You've been added to our email list.
                    </div>

                    <div class="alert alert-danger hidden" id="newsletterError"></div>

                    <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
                        <div class="input-group">
                            <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="icon-paper-plane icons"></i></button>
                            </span>
                        </div>
                    </form>

                </div>

                <p><i class="fa fa-phone"></i> (123) 456-789 <i class="fa fa-envelope ml-sm"></i> <a href="mailto: mail@example.com">mail@example.com</a></p>

            </div>
        </div>

        <div class="footer-copyright">
            <div class="row">
                <div class="col-md-12 center">
                    <p>© Copyright 2019. All Rights Reserved.</p>
                </div>
            </div>
        </div>

    </div>
</footer>
