@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="demo-construction.html">
                    <img alt="Porto" class="img-responsive logo" width="110" src="~/img/demos/construction/logoAT_Chu.png">
                </a>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 mb-sm">
                        <h4>DANH MỤC</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list list-footer-nav">
                            <li>
                                <a href="@Url.Action("Index")">
                                    Trang chủ
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("About")">
                                    Giới thiệu
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list list-footer-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="@Url.Action("Service")">
                                    Dịch vụ
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact")">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>BỐC XẾP ANH TÚ</h4>

                <ul class="list list-icons mt-xlg mb-xlg">
                    <li><i class="icon-pin icons"></i> <strong>Địa chỉ:</strong> Số 117, Đường Đình Phong Phú, Phường Tăng Nhơn Phú B, Quận 9, TP HCM</li>
                    <li><i class="icon-call-end icons"></i> <strong>Điện thoại:</strong> 0367.99.89.79</li>
                    <li><i class="icon-envelope icons"></i> <strong>Email:</strong> <a href="mailto:Bocxepanhtu@gmail.com">Bocxepanhtu@gmail.com</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="row">
                <div class="col-md-12 center">
                    <p>© Copyright 2019</p>
                </div>
            </div>
        </div>

    </div>
</footer>
