<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4>Về Ticivi </h4>
                    <div class="about-widget">
                        <p>
                            Nếu bạn đang tìm kiếm một trang web để mua và bán hàng trực tuyến về nông nghiệp thì Ticivi là một sự lựa chọn hiệu quả dành cho bạn.
                        </p>
                        <a href="@Url.Action("About","Home")">Chi tiết Ticivi</a>
                        <ul class="contact">
                            <li>
                                <p>
                                    <i class="fa fa-phone"></i> <strong>Hotline :</strong> 0355 655 065 </br>
                                    <small>(Hoạt động 7-21h kể cả T7, CN)</small>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4>Chăm sóc khách hàng</h4>
                    <ul class="links">
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Help","Home")">Hướng dẫn mua hàng</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Help","Home")">Hướng dẫn bán hàng</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Help","Home")">Trung tâm trợ giúp</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-3">
                    <h4>Liên hệ</h4>
                    <ul class="contact">
                        <li><p><i class="fa fa-map-marker"></i> 34 Đường số 4, Phường 11, Quận Gò Vấp, TP Hồ Chí Minh</p></li>
                        <li><p><i class="fa fa-phone"></i> 0355 655 065 </p></li>
                        <li><p><i class="fa fa-envelope-o"></i> <a href="mailto:ticivicompany@gmail.com">ticivicompany@gmail.com</a></p></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                    <div class="fb-page" data-href="https://www.facebook.com/N&#xf4;ng-s&#x1ea3;n-Ticivi-1649396448515665/" data-tabs="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/N&#xf4;ng-s&#x1ea3;n-Ticivi-1649396448515665/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/N&#xf4;ng-s&#x1ea3;n-Ticivi-1649396448515665/">Nông sản Ticivi</a>
                        </blockquote>
                    </div>
                    @*<h4>TẢI APP TRÊN ĐIỆN THOẠI</h4>
                        <ul class="social-icons">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="App Store"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Google Play"><i class="fa fa-twitter"></i></a></li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <img alt="Payments" src="~/img/demos/shop/payments.png" class="footer-payment">
            <p class="copyright-text">© 2018 - Bản quyền của Công Ty Cổ Phần TiCiVi - ticivi.com</p>
        </div>
    </div>

</footer>
